<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringSecurityFiltersConfiguredInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="placeholderConfig"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>file:/opt/jnode/config.properties</value>
        </property>
    </bean>

    <bean id="echoMailDAO" class="jnode.ui.server.dao.impl.EchoMailDAOImpl">
        <property name="echomailToolsProxy" ref="echomailToolsProxy"/>
    </bean>

    <bean id="jscriptDAO" class="jnode.ui.server.dao.impl.JscriptDAOImpl">
        <property name="scripterProxy" ref="scripterProxy"/>
    </bean>

    <bean id="authDAO" class="jnode.ui.server.dao.impl.AuthDAOImpl">
        <property name="adminPassword" value="${adminPassword}"/>
        <property name="adminLogin" value="${adminLogin}"/>
    </bean>

    <bean id="authInfo" class="jnode.ui.server.xmlrpc.AuthInfo">
        <property name="pwd" value="${pwd}"/>
        <property name="connString" value="${connString}"/>
        <property name="user" value="${user}"/>
    </bean>

    <bean id="echomailToolsProxy" class="jnode.ui.server.xmlrpc.EchomailToolsProxy">
        <property name="authInfo" ref="authInfo"/>
    </bean>

    <bean id="scripterProxy" class="jnode.ui.server.xmlrpc.ScripterProxy">
        <property name="authInfo" ref="authInfo"/>
    </bean>

</beans>
